body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
  }
.bg-color{
    background-color: rgb(179, 226, 116);
}
.text{
    color: rgb(7, 114, 7);
}

.search-field {
    border: none;
    border-radius: 50px;
    padding: 5px;
   outline: none;
}
.search-field:hover {
   outline: none;
}
.search-box {
    border: 1px solid rgb(3, 118, 211);
    width: 281px;
    border-radius: 5px;
    margin:20px auto 10px;
    
    
}
.search-button {
    padding: 10px 50px;
    border-radius: 25px;
    margin-left: 17px;

}
.cart {
    width: 300px;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 5px;
    position: fixed;
}
.card {
    box-shadow: 3px 3px 10px grey;
}
.card-img{
    width: 150px;
    height: 150px;
}
.img-div {
    width: 200px;
    margin: 10px auto 0;
}
.rating{
    color:rgb(102, 100, 6);
    font-size: 18px;
    font-weight: 700;
}
.rating-point{
    color:rgb(53, 78, 4);
}
.add-button{
    padding: 10px;

}